<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.md.mapper.BasePrescriptionValueMapper">
	
	<select id="selectBasePrescriptionValueInfo"  resultType="basePrescriptionValue">
		SELECT 	* 
		  FROM md_base_prescription_value 
	</select>
</mapper>